
/* ======= Общие настройки ======= */
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #b8da46;
  font-family: 'Courier New', monospace;
}

/* ===== СЦЕНЫ ===== */
.scene {
  position: fixed;
  inset: 0;
  display: none;
}
.scene.active {
  display: block;
}

/* ===== ИНТРО ===== */
#intro-screen {
  background: url("images/intro-bg.png") center / cover no-repeat;
}

.intro-text {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  width: 1385px;
  z-index: 5;
}
.bee {
  position: absolute;
  top: 450px;
  left: 63%;
  width: 250px;
  z-index: 5;
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
  100% { transform: rotate(-5deg); }
}
.img-button {
  position: absolute;
  bottom: 120px;
  left: 40%;
  transform: translateX(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 10;
}
.img-button img {
  width: 525px;
  pointer-events: none;
}

/* ======= Основная сцена ======= */
#main-scene {
  position: relative;
  width: 1600px;
  height: 900px;
  margin: 0;
  background: url("images/room_bg.png") center/cover no-repeat;
}

/* ======= Интерактивные объекты ======= */
.hotspot {
  position: absolute;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.hotspot img {
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: transform 0.3s ease;
}
.hotspot:hover img {
  transform: scale(1.15) rotate(-5deg);
}

/* ======= Панель текста ======= */
.text-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 20px 70px;
  font-size: 18px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}
.text-box.show {
  transform: translateY(0);
}
#text-content {
  margin: 0;
}

/* ======= Крестик ======= */
#close-button {
  position: fixed;
  top: 40px;
  right: 60px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  line-height: 30px;
  text-align: center;
  background: none;
  border: none;
  color: rgb(210, 30, 30);
  cursor: pointer;
  z-index: 10000;
  padding: 0;
  display: none;
}

/* ===== ФИНАЛ ===== */
#final-screen {
  position: fixed;
  inset: 0;
  background: url("images/fin-bg.png") center/cover no-repeat;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

#final-screen.active {
  display: flex;
}

.final-chars {
  position: absolute;
  bottom: 70px;
  right: 80px;
  width: 326px;
  animation: float 3s ease-in-out infinite;
}
.final-bubble {
  background: #ffff43;
  padding: 28px 32px;
  border-radius: 16px;
  font-size: 18px;
  text-align: center;
  max-width: 820px;
  width: 90%;
  z-index: 10;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ===== ЗАТЕМНЕНИЕ ===== */
#fade {
  position: fixed;
  inset: 0;
  background: black;
  opacity: 0;
  pointer-events: none;
  transition: 0.8s;
}
#fade.active { opacity: 1; }
